

html {
    overflow-x: hidden;
  }

h2 {
  text-align: left;
  font-size: 36px;
  color: #1b0404;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

p {
  text-align: left;
  font-size: 16px;
  color: #300101;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.col-sm-6 {
  align-self: center;
}
/*------------------------------------------------------------------
  	[Nav-bar]
------------------------------------------------------------------*/
.navbar {
  background-color: black;
  opacity: 90%;
  height: 60%;
}

.menu-container {
  padding-bottom: 10px;
}

.js_nav-item.nav-item {
    color: #000000;
}

.nav-item-child:hover {
    color: #07318b;
    width: 15px;
    background-color: rgb(161, 161, 18);
}

.nav.navbar-nav.navbar-nav-right {
  padding-left: 60%;
}
/*------------------------------------------------------------------
  	[Contact]
------------------------------------------------------------------*/
.contact-list > li {
    font-size: 16px;
    color: #8b1515;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }

/*------------------------------------------------------------------
  	[Header]
------------------------------------------------------------------*/
.header {
  height: 125px;
}

.logo-img.logo-img-main {
  display: inline-block;
  padding: 5px;
  height: 125px;
  margin-right: 30px;
}

.logo-img.logo-img-active {
  display: inline-block;
  padding: 5px;
  height: 125px;
  align-content: right;
}
/*--------------------------------------------------
    [Back To Top Theme Button]
----------------------------------------------------*/
.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    z-index: 9;
    width: 40px;
    height: 40px;
    font-size: 11px;
    font-weight: 400;
    color: rgb(99, 6, 6);
    text-align: center;
    line-height: 3;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #515769;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    padding: 5px;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  
  .back-to-top:hover {
    color: #fff;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  
  .back-to-top:focus, .back-to-top:hover {
    text-decoration: none;
  }
  
  /* The Button Becomes Visible */
  .back-to-top.back-to-top-is-visible {
    visibility: visible;
    opacity: .6;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  
  .back-to-top.back-to-top-is-visible:hover {
    opacity: 1;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  
  /* If the user keeps scrolling down, the button is out of focus and becomes less visible */
  .back-to-top.back-to-top-fade-out {
    opacity: .4;
  }
  
  .back-to-top.back-to-top-fade-out:hover {
    opacity: 1;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

/*------------------------------------------------------------------
    [Full Screen Carousel]
------------------------------------------------------------------*/
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /*------------------------------------------------------------------
      [Carousel]
  ------------------------------------------------------------------*/
  .carousel-indicators {
    left: 50%;
    width: auto;
    padding-top: 200px;
    padding-left: 0;
    margin-left: 0;
    height: 775px;
  }
  
  .carousel-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  
  .carousel-title {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
  }
  
  @media (max-width: 768px) {
    .carousel-title {
      font-size: 60px;
    }
  }
  
  /*------------------------------------------------------------------
      [Swiper Slider]
  ------------------------------------------------------------------*/
  .swiper-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .swiper-clients-img {
    display: block;
    width: 190px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  
  .swiper-clients-img:hover {
    opacity: .8;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .Clients {
    background: scroll /contain no-repeat url("10.jpg");
  }
/*------------------------------------------------------------------
  	[Text Colors]
------------------------------------------------------------------*/

/*------------------------------------------------------------------
  	[Background Colors]
------------------------------------------------------------------*/
.bg-color-base {
    background: #344066 !important;
  }
  
  .bg-color-white {
    background: #1d0000 !important;
  }
  
  .bg-color-heading {
    background: #344066 !important;
  }
  
  .bg-color-subtitle {
    background: #344066 !important;
  }
  
  .bg-color-link {
    background: #344066 !important;
  }
  
  .bg-color-link-hover {
    background: #3b4366 !important;
  }
  
  .bg-color-sky-light {
    background: #250505 !important;
  }

/*------------------------------------------------------------------
    [Row]
------------------------------------------------------------------*/
.row-space-1 {
    margin-right: -1px;
    margin-left: -1px;
  }
  
  .row-space-1 > [class*="col-"] {
    padding-left: 1px;
    padding-right: 1px;
  }
  
  /*------------------------------------------------------------------
    [Content]
  ------------------------------------------------------------------*/
  .content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .content-sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .content-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .content-lg {
    padding-top: 230px;
    padding-bottom: 100px;
  }
  

  .skills-container {
    text-align: left;
    color: black;
  }


  /*------------------------------------------------------------------
      [Full Width]
  ------------------------------------------------------------------*/
  .full-width {
    width: 100%;
    height: auto;
  }

  /*--------------------------------------------------------------------
      [Footer]
  --------------------------------------------------------------------*/
  .footer {
    background-color: rgb(0, 0, 0);
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .footer-logo {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /*--------------------------------------------------------------------
    [Tools popup]
  --------------------------------------------------------------------*/
  .pop {
    background-color: yellow;
    padding: 20px;
    display: none;
  }
  
  .link:hover + .pop {
    display: block;
  }